<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seckill.mapper.OrderMapper" >
	<resultMap id="ResultMap" type="com.seckill.entity.OrderEntity" >
		<id column="ID" property="id"/>
		<result column="c_id" property="cId" jdbcType="BIGINT" />
		<result column="u_id" property="uId" jdbcType="BIGINT" />
		<result column="create_date" property="createTime" jdbcType="DATE" />
	</resultMap>
	
	<insert id="insert" parameterType="com.seckill.entity.OrderEntity">
		insert into `order`
		(`c_id`,`u_id`,`create_date`)
		values
		(
		 #{cId},#{uId},now()
		)
	</insert>

	<select id="getUser" parameterType="java.lang.Long" resultMap="ResultMap">
		select * from `order` where `u_id` = #{userId}
	</select>

</mapper>