<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seckill.mapper.UserMapper" >
	<resultMap id="ResultMap" type="com.seckill.entity.UserEntity" >
		<id column="ID" property="id"/>
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="create_date" property="createTime" jdbcType="DATE" />
	</resultMap>
	
	<select id="getName" parameterType="java.lang.Long" resultType="java.lang.String">
		select `name` from `user`
		where id = #{id}
	</select>

</mapper>